@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


html{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(37, 37, 37);
}

.button-container{
    border: 2px solid black;
    padding: 10px;
    border-radius: 7px;
    
}